body {
  font-family: sans-serif;
  transition: background-color 0.3s ease;
}

.card {
  transition: transform 0.2s;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
}

.object-fit-cover {
  object-fit: cover;
}

.modal {
  display: block;
  z-index: 1050;
}

.modal-backdrop {
  z-index: 1040;
}

.pagination .page-link {
  color: #333;
}

.pagination .active .page-link {
  background-color: #333;
  border-color: #333;
  color: white;
}